@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Sessão expirou!</h1>
    <h2 class="error">Favor logar novamente.</h2>
</hgroup>
