@model List<HomeAutomex.Models.DispositivoModel>

@{
    ViewBag.Title = "ListarDispositivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <legend>Favoritos</legend>
<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table id="Grid" class="table table-bordered">
    <tr>
        <td>
            Favorito
        </td>
        <th>
            Descrição
        </th>
        <th>
            Status
        </th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
          <td> <div id="divImagem"> <img src="~/Images/estrela.png" /></div></td>
        <td>
            @Html.DisplayFor(e => e[i].Descricao)
        </td>
       <td>
          
        <li>
       <label class="checkbox-switch"> 
       @Html.CheckBoxFor(e => e[i].Status, new { id = Model[i].Chave })
      <span class="checkbox-switch-inner">
      <span class="checkbox-switch-on">ON</span>
      <span class="checkbox-switch-off">OFF</span>
      <span class="checkbox-switch-handle"></span>
    </span>
     </label>
     </li>
       </td>
    </tr>
    }
</table>


<script type="text/javascript">

    $(document).ready(function () {       
        $('input[type=checkbox]').change(function () {
            var status;
            if ($(this).is(':checked'))
                status = true;
            else
                status = false
            $.ajax({
                url: '@Url.Action("EditarStatus", "DispositivosFavoritos")',
                type: 'GET',
                contentType: 'application/json',
                data: { chave: $(this).attr('id'), status: status },
                success: function () {
                    console.log("sucesso!");
                },
                error: function (data) {
                    console.log(data.e);
                }
            });
        });
    });
</script>