CREATE DATABASE HomeAutomexdb
GO
USE [HomeAutomexdb]
GO
CREATE TABLE [dbo].[AGENDAMENTO](
	[CD_AGENDAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[DS_DESCRICAO] [varchar](200) NOT NULL,
	[DT_AGENDAMENTO] [datetime] NULL,
	[IS_ATIVO] [bit] NULL,
	[DT_CADASTRO] [datetime] NULL,
	[DT_ALTERACAO] [datetime] NULL,
	[DT_EXCLUSAO] [datetime] NULL,
	[IS_DESATIVADO] [bit] NULL,
	[CD_USUARIO] [int] NOT NULL,
	[CD_DISPOSITIVO] [int] NOT NULL,
 CONSTRAINT [PK__AGENDAME__B265E50C7F60ED59] PRIMARY KEY CLUSTERED 
(
	[CD_AGENDAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AMBIENTE]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AMBIENTE](
	[CD_AMBIENTE] [int] IDENTITY(1,1) NOT NULL,
	[DS_DESCRICAO] [varchar](200) NOT NULL,
	[DT_CADASTRO] [datetime] NULL,
	[DT_ALTERACAO] [datetime] NULL,
	[DT_EXCLUSAO] [datetime] NULL,
	[IS_DESATIVADO] [bit] NULL,
	[CD_RESIDENCIA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_AMBIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CENARIO]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CENARIO](
	[CD_CENARIO] [int] IDENTITY(1,1) NOT NULL,
	[DS_DESCRICAO] [varchar](200) NOT NULL,
	[DT_CADASTRO] [datetime] NULL,
	[DT_ALTERACAO] [datetime] NULL,
	[DT_EXCLUSAO] [datetime] NULL,
	[IS_DESATIVADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_CENARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DISPOSITIVO]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISPOSITIVO](
	[CD_DISPOSITIVO] [int] IDENTITY(1,1) NOT NULL,
	[DS_DESCRICAO] [varchar](200) NOT NULL,
	[CD_PORTA] [int] NOT NULL,
	[DT_CADASTRO] [datetime] NULL,
	[DT_ALTERACAO] [datetime] NULL,
	[DT_EXCLUSAO] [datetime] NULL,
	[IS_DESATIVADO] [bit] NULL,
	[STATUS] [bit] NOT NULL,
	[CD_AMBIENTE] [int] NOT NULL,
	[FAVORITO] [bit] NOT NULL,
 CONSTRAINT [PK__DISPOSIT__400F0A2CA7300FA0] PRIMARY KEY CLUSTERED 
(
	[CD_DISPOSITIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DISPOSITIVO_CENARIO]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISPOSITIVO_CENARIO](
	[CD_DISPOSITIVO] [int] NOT NULL,
	[CD_CENARIO] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOG]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOG](
	[CD_LOG] [int] IDENTITY(1,1) NOT NULL,
	[CD_USUARIO] [int] NOT NULL,
	[DESCRICAO] [varchar](200) NOT NULL,
	[DATA] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_LOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MODULO]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MODULO](
	[CD_MODULO] [int] IDENTITY(1,1) NOT NULL,
	[NM_IP] [varchar](50) NOT NULL,
	[NM_PORTA] [varchar](10) NOT NULL,
	[DS_NOME] [varchar](100) NOT NULL,
	[NM_MAC] [varchar](20) NULL,
	[CD_RESIDENCIA] [int] NOT NULL,
 CONSTRAINT [PK_MODULO] PRIMARY KEY CLUSTERED 
(
	[CD_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NIVEL_ACESSO]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NIVEL_ACESSO](
	[CD_NIVEL_ACESSO] [int] IDENTITY(1,1) NOT NULL,
	[DS_NOME] [varchar](200) NOT NULL,
	[DT_CADASTRO] [datetime] NULL,
	[DT_ALTERACAO] [datetime] NULL,
	[DT_EXCLUSAO] [datetime] NULL,
	[IS_DESATIVADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_NIVEL_ACESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERFIL](
	[CD_PERFIL] [int] NOT NULL,
	[DS_NOME] [varchar](100) NOT NULL,
	[IS_ADMIN] [bit] NOT NULL,
	[DT_CADASTRO] [datetime] NOT NULL,
	[DT_ALTERACAO] [datetime] NOT NULL,
	[DT_EXCLUSAO] [datetime] NOT NULL,
	[IS_DESATIVADO] [bit] NOT NULL,
	[CD_RESIDENCIA] [int] NOT NULL,
 CONSTRAINT [PK_PERFIL] PRIMARY KEY CLUSTERED 
(
	[CD_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PORTA_MODULO]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PORTA_MODULO](
	[CD_PORTA_MODULO] [int] IDENTITY(1,1) NOT NULL,
	[NM_IDENTIFICADOR] [nchar](10) NULL,
	[NM_PORTA] [varchar](5) NULL,
	[CD_TIPO] [int] NOT NULL,
	[CD_MODULO] [int] NOT NULL,
 CONSTRAINT [PK_PORTA_MODULO] PRIMARY KEY CLUSTERED 
(
	[CD_PORTA_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESIDENCIA]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESIDENCIA](
	[CD_RESIDENCIA] [int] IDENTITY(1,1) NOT NULL,
	[NM_RESIDENCIA] [varchar](200) NOT NULL,
	[DS_LOGRADOURO] [varchar](200) NOT NULL,
	[DS_CIDADE] [varchar](50) NOT NULL,
	[DS_BAIRRO] [varchar](50) NOT NULL,
	[NM_CEP] [varchar](50) NULL,
	[NM_NUMERO] [varchar](50) NULL,
	[DS_COMPLEMENTO] [varchar](200) NULL,
	[DT_CADASTRO] [datetime] NULL,
	[DT_ALTERACAO] [datetime] NULL,
	[DT_EXCLUSAO] [datetime] NULL,
	[IS_DESATIVADO] [bit] NULL,
 CONSTRAINT [PK__RESIDENC__7A8ECD3CDB484182] PRIMARY KEY CLUSTERED 
(
	[CD_RESIDENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SENSOR]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[SENSOR](
	[CD_SENSOR] [int] IDENTITY(1,1) NOT NULL,
	[CD_DISPOSITIVO] [int] NULL,
	[DESCRICAO] [varchar](50) NULL,
	[VALOR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_SENSOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_PORTA_MODULO]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_PORTA_MODULO](
	[CD_TIPO_POTA_MODULO] [int] IDENTITY(1,1) NOT NULL,
	[DS_TIPO] [varchar](100) NOT NULL,
	[DS_IDENTIFICADOR] [char](1) NOT NULL,
 CONSTRAINT [PK_TIPO_PORTA_MODULO] PRIMARY KEY CLUSTERED 
(
	[CD_TIPO_POTA_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[CD_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[DS_NOME] [varchar](200) NOT NULL,
	[DS_USUARIO] [varchar](200) NOT NULL,
	[NM_TELEFONE] [varchar](50) NULL,
	[NM_CELULAR] [varchar](50) NULL,
	[DS_EMAIL] [varchar](50) NULL,
	[DT_CADASTRO] [datetime] NULL,
	[DT_ALTERACAO] [datetime] NULL,
	[DT_EXCLUSAO] [datetime] NULL,
	[IS_DESATIVADO] [bit] NULL,
	[DS_SENHA] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO_RESIDENCIA]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_RESIDENCIA](
	[CD_USUARIO] [int] NOT NULL,
	[CD_RESIDENCIA] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UT_DISPOSITIVO]    Script Date: 14/05/2014 19:44:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UT_DISPOSITIVO](
	[CD_UT_DISPOSITIVO] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[CD_DIPOSITIVO] [int] NOT NULL,
	[DT_ULTILIZACAO] [datetime] NOT NULL,
	[STATUS] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_UT_DISPOSITIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[PERFIL] ADD  CONSTRAINT [DF_PERFIL_IS_DESATIVADO]  DEFAULT ((0)) FOR [IS_DESATIVADO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_IS_DESATIVADO]  DEFAULT ((0)) FOR [IS_DESATIVADO]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD FOREIGN KEY([CD_DISPOSITIVO])
REFERENCES [dbo].[DISPOSITIVO] ([CD_DISPOSITIVO])
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__48CFD27E] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__48CFD27E]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__49C3F6B7] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__49C3F6B7]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__4AB81AF0] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__4AB81AF0]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__4BAC3F29] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__4BAC3F29]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__4CA06362] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__4CA06362]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__4D94879B] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__4D94879B]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__4E88ABD4] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__4E88ABD4]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__4F7CD00D] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__4F7CD00D]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__5070F446] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__5070F446]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__5165187F] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__5165187F]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__52593CB8] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__52593CB8]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__534D60F1] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__534D60F1]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__5441852A] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__5441852A]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__5535A963] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__5535A963]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__5629CD9C] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__5629CD9C]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__571DF1D5] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__571DF1D5]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__5812160E] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__5812160E]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__59063A47] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__59063A47]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__59FA5E80] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__59FA5E80]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__5AEE82B9] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__5AEE82B9]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__5BE2A6F2] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__5BE2A6F2]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__5CD6CB2B] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__5CD6CB2B]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__5DCAEF64] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__5DCAEF64]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK__AGENDAMEN__CD_US__5EBF139D] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK__AGENDAMEN__CD_US__5EBF139D]
GO
ALTER TABLE [dbo].[AMBIENTE]  WITH CHECK ADD  CONSTRAINT [FK_AMBIENTE_RESIDENCIA] FOREIGN KEY([CD_RESIDENCIA])
REFERENCES [dbo].[RESIDENCIA] ([CD_RESIDENCIA])
GO
ALTER TABLE [dbo].[AMBIENTE] CHECK CONSTRAINT [FK_AMBIENTE_RESIDENCIA]
GO
ALTER TABLE [dbo].[DISPOSITIVO]  WITH CHECK ADD  CONSTRAINT [FK_DISPOSITIVO_AMBIENTE] FOREIGN KEY([CD_AMBIENTE])
REFERENCES [dbo].[AMBIENTE] ([CD_AMBIENTE])
GO
ALTER TABLE [dbo].[DISPOSITIVO] CHECK CONSTRAINT [FK_DISPOSITIVO_AMBIENTE]
GO
ALTER TABLE [dbo].[DISPOSITIVO]  WITH CHECK ADD  CONSTRAINT [FK_DISPOSIVO_PORTA_MODULO] FOREIGN KEY([CD_PORTA])
REFERENCES [dbo].[PORTA_MODULO] ([CD_PORTA_MODULO])
GO
ALTER TABLE [dbo].[DISPOSITIVO] CHECK CONSTRAINT [FK_DISPOSIVO_PORTA_MODULO]
GO
ALTER TABLE [dbo].[DISPOSITIVO_CENARIO]  WITH CHECK ADD  CONSTRAINT [FK__DISPOSITI__CD_CE__4316F928] FOREIGN KEY([CD_CENARIO])
REFERENCES [dbo].[CENARIO] ([CD_CENARIO])
GO
ALTER TABLE [dbo].[DISPOSITIVO_CENARIO] CHECK CONSTRAINT [FK__DISPOSITI__CD_CE__4316F928]
GO
ALTER TABLE [dbo].[DISPOSITIVO_CENARIO]  WITH CHECK ADD FOREIGN KEY([CD_DISPOSITIVO])
REFERENCES [dbo].[DISPOSITIVO] ([CD_DISPOSITIVO])
GO
ALTER TABLE [dbo].[MODULO]  WITH CHECK ADD  CONSTRAINT [FK_MODULO_RESIDENCIA] FOREIGN KEY([CD_RESIDENCIA])
REFERENCES [dbo].[RESIDENCIA] ([CD_RESIDENCIA])
GO
ALTER TABLE [dbo].[MODULO] CHECK CONSTRAINT [FK_MODULO_RESIDENCIA]
GO
ALTER TABLE [dbo].[PERFIL]  WITH CHECK ADD  CONSTRAINT [FK_PERFIL_RESIDENCIA] FOREIGN KEY([CD_RESIDENCIA])
REFERENCES [dbo].[RESIDENCIA] ([CD_RESIDENCIA])
GO
ALTER TABLE [dbo].[PERFIL] CHECK CONSTRAINT [FK_PERFIL_RESIDENCIA]
GO
ALTER TABLE [dbo].[PORTA_MODULO]  WITH CHECK ADD  CONSTRAINT [FK_PORTA_MODULO_MODULO] FOREIGN KEY([CD_MODULO])
REFERENCES [dbo].[MODULO] ([CD_MODULO])
GO
ALTER TABLE [dbo].[PORTA_MODULO] CHECK CONSTRAINT [FK_PORTA_MODULO_MODULO]
GO
ALTER TABLE [dbo].[PORTA_MODULO]  WITH CHECK ADD  CONSTRAINT [FK_PORTA_MODULO_TIPO_PORTA_MODULO] FOREIGN KEY([CD_TIPO])
REFERENCES [dbo].[TIPO_PORTA_MODULO] ([CD_TIPO_POTA_MODULO])
GO
ALTER TABLE [dbo].[PORTA_MODULO] CHECK CONSTRAINT [FK_PORTA_MODULO_TIPO_PORTA_MODULO]
GO
ALTER TABLE [dbo].[USUARIO_RESIDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_RESIDENCIA_RESIDENCIA] FOREIGN KEY([CD_RESIDENCIA])
REFERENCES [dbo].[RESIDENCIA] ([CD_RESIDENCIA])
GO
ALTER TABLE [dbo].[USUARIO_RESIDENCIA] CHECK CONSTRAINT [FK_USUARIO_RESIDENCIA_RESIDENCIA]
GO
ALTER TABLE [dbo].[USUARIO_RESIDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_RESIDENCIA_USUARIO_RESIDENCIA] FOREIGN KEY([CD_USUARIO])
REFERENCES [dbo].[USUARIO] ([CD_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO_RESIDENCIA] CHECK CONSTRAINT [FK_USUARIO_RESIDENCIA_USUARIO_RESIDENCIA]
GO
